Repository ma-za-kpe/vibejudge-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, sam-validate

mypy:
  name: mypy type checking
  entry: .venv/bin/mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - src/
  pass_filenames: false
  stages:
  - commit

sam-validate:
  name: validate SAM template
  entry: sam
  language: system
  args:
  - validate
  - --lint
  pass_filenames: false
  stages:
  - push

fix: add comprehensive type annotations and fix all mypy errors
  .pre-commit-config.yaml
  .secrets.baseline
  PROJECT_PROGRESS.md
  README.md
  src/agents/ai_detection.py
  src/agents/base.py
  src/agents/bug_hunter.py
  src/agents/innovation.py
  src/agents/performance.py
  src/analysis/actions_analyzer.py
  src/analysis/brand_voice_transformer.py
  src/analysis/cost_tracker.py
  src/analysis/dashboard_aggregator.py
  src/analysis/git_analyzer.py
  src/analysis/performance_monitor.py
  src/analysis/static_analysis_engine.py
  src/api/dependencies.py
  src/api/main.py
  src/api/routes/analysis.py
  src/api/routes/health.py
  src/models/__init__.py
  src/models/hackathon.py
  src/models/submission.py
  src/services/analysis_service.py
  src/services/submission_service.py
  src/utils/bedrock.py
  src/utils/dynamo.py
  src/utils/github_client.py
Due: mypy

docs: update PROJECT_PROGRESS with type safety milestone
  PROJECT_PROGRESS.md
Due: none

feat: E2E production test suite + 7 critical bugfixes
  .secrets.baseline
  DEPLOYMENT_2026-02-25.md
  E2E_TEST_RESULTS.md
  E2E_TEST_SUMMARY.md
  PROJECT_PROGRESS.md
  README.md
  SESSION_SUMMARY_2026-02-25.md
  TESTING.md
  docs/VIBEJUDGE_FRONTEND_BACKEND_SEPARATION.md
  docs/VIBEJUDGE_HUMAN_LAYER_ADDENDUM.md
  docs/VIBEJUDGE_SELF_SERVICE_PORTAL_CONCEPT.md
  docs/VIBEJUDGE_STRATEGIC_ENHANCEMENT_PLAN.md
  scripts/clear_and_test_e2e.py
  src/analysis/brand_voice_transformer.py
  src/analysis/dashboard_aggregator.py
  src/analysis/lambda_handler.py
  src/services/organizer_intelligence_service.py
  tests/e2e/README.md
  tests/e2e/__init__.py
  tests/e2e/test_live_production.py
  tests/unit/test_brand_voice_transformer.py
Due: mypy

docs: add E2E production test section to TESTING.md
  TESTING.md
Due: none

docs: Update documentation for completed Streamlit dashboard
  PROJECT_PROGRESS.md
  README.md
  TESTING.md
Due: none

fix: Correct ActionsAnalyzer mock paths in integration tests
  tests/integration/test_orchestrator_enhanced.py
  tests/integration/test_performance_90s.py
Due: mypy

fix: Correct indentation errors in integration tests
  tests/integration/test_orchestrator_enhanced.py
  tests/integration/test_performance_90s.py
Due: mypy

fix: resolve integration test Bedrock mock Pydantic validation errors
  tests/fixtures/complete_mock_responses.py
  tests/integration/test_orchestrator_enhanced.py
  tests/integration/test_performance_90s.py
Due: mypy

docs: update documentation for integration test bugfix completion
  PROJECT_PROGRESS.md
  README.md
Due: none

docs: add implementation roadmap and feature requirement specs
  .kiro/specs/IMPLEMENTATION_ROADMAP.md
  .kiro/specs/e2e-system-testing/requirements.md
  .kiro/specs/fix-integration-test-bedrock-mocks/.config.kiro
  .kiro/specs/fix-integration-test-bedrock-mocks/bugfix.md
  .kiro/specs/fix-integration-test-bedrock-mocks/design.md
  .kiro/specs/fix-integration-test-bedrock-mocks/tasks.md
  .kiro/specs/multitenant-monetization/requirements.md
  .kiro/specs/rate-limiting-security/requirements.md
  .kiro/specs/streamlit-aws-deployment/requirements.md
  .kiro/specs/team-submission-portal/requirements.md
Due: none

feat(infrastructure): complete AWS ECS Fargate deployment for Streamlit dashboard
  .dockerignore
  .kiro/specs/streamlit-aws-deployment/requirements.md
  .kiro/specs/streamlit-aws-ecs-deployment/.config.kiro
  .kiro/specs/streamlit-aws-ecs-deployment/design.md
  .kiro/specs/streamlit-aws-ecs-deployment/requirements.md
  .kiro/specs/streamlit-aws-ecs-deployment/tasks.md
  DEPLOYMENT.md
  Dockerfile
  PROJECT_PROGRESS.md
  README.md
  RUNBOOK.md
  cloudwatch-queries.md
  deploy.sh
  samconfig.toml
  template.yaml
  tests/integration/test_performance_90s.py.bak2
Due: sam-validate

docs(spec): complete rate limiting and API security design
  .kiro/specs/rate-limiting-security/.config.kiro
  .kiro/specs/rate-limiting-security/design.md
  PROJECT_PROGRESS.md
  README.md
Due: none

docs(spec): create implementation tasks for rate limiting and API security
  .kiro/specs/rate-limiting-security/tasks.md
Due: none

docs: update PROJECT_PROGRESS.md with tasks completion status
  PROJECT_PROGRESS.md
Due: none

changes
  .kiro/hooks/auto-format-on-save.kiro.hook
  .kiro/specs/e2e-system-testing/tasks.md
  .kiro/specs/rate-limiting-security/tasks.md
  PROJECT_PROGRESS.md
  README.md
  TESTING.md
  src/api/main.py
  src/api/middleware/__init__.py
  src/api/middleware/budget.py
  src/api/middleware/rate_limit.py
  src/api/middleware/security.py
  src/api/routes/api_keys.py
  src/api/routes/usage.py
  src/models/api_key.py
  src/models/common.py
  src/models/rate_limit.py
  src/services/api_key_service.py
  src/services/cost_estimation_service.py
  src/services/usage_tracking_service.py
  src/utils/dynamo.py
  template.yaml
  tests/integration/test_api_keys.py
  tests/integration/test_orchestrator_enhanced.py
  tests/integration/test_performance_90s.py
  tests/unit/test_api_key_models.py
  tests/unit/test_api_key_service.py
  tests/unit/test_cost_estimation_service.py
  tests/unit/test_rate_limit_models.py
  tests/unit/test_usage_tracking_service.py
Due: mypy, sam-validate

feat: add self-service UI pages (registration, login, settings)
  .kiro/specs/e2e-system-testing/AUTHENTICATION_FIX.md
  .kiro/specs/e2e-system-testing/HACKATHON_ACTIVATION_FIX.md
  API_KEY_CONSOLIDATION_PLAN.md
  DEPLOYMENT_GUIDE.md
  PROJECT_PROGRESS.md
  PUBLIC_ENDPOINT_FIX.md
  README.md
  SECURITY_ENHANCEMENTS.md
  docs/03-dynamodb-data-model.md
  docs/07-pydantic-models.md
  src/api/dependencies.py
  src/api/main.py
  src/api/middleware/rate_limit.py
  src/api/routes/hackathons.py
  src/api/routes/public.py
  src/models/api_key.py
  src/models/hackathon.py
  src/models/organizer.py
  src/services/api_key_service.py
  src/services/hackathon_service.py
  src/services/organizer_service.py
  src/services/submission_service.py
  src/utils/dynamo.py
  streamlit_ui/.streamlit/config.toml
  streamlit_ui/app.py
  streamlit_ui/components/api_client.py
  streamlit_ui/components/auth.py
  streamlit_ui/pages/0_📝_Register.py
  streamlit_ui/pages/1_🎯_Create_Hackathon.py
  streamlit_ui/pages/2_📊_Live_Dashboard.py
  streamlit_ui/pages/3_🏆_Results.py
  streamlit_ui/pages/5_Manage_Hackathons.py
  streamlit_ui/pages/6_Submissions.py
  streamlit_ui/pages/7_Submit.py
  streamlit_ui/pages/8_⚙️_Settings.py
  template-ecs.yaml
  template.yaml
  test_dashboard_api.py
  test_dashboard_auth.py
  test_dashboard_auth.sh
Due: mypy, sam-validate

Add require_authentication decorator to auth component
  streamlit_ui/components/auth.py
Due: mypy

Fix registration error handling to support HTTP 400 status code
  streamlit_ui/pages/0_📝_Register.py
Due: mypy

Fix API_BASE_URL to remove duplicate /api/v1 prefix
  template-ecs.yaml
Due: none

Fix URL construction consistency - remove /api/v1 from all Streamlit paths
  streamlit_ui/app.py
  streamlit_ui/components/auth.py
  streamlit_ui/pages/0_��_Register.py
  streamlit_ui/pages/8_⚙️_Settings.py
Due: mypy

fix: Improve registration error logging and update documentation
  README.md
  streamlit_ui/README.md
  streamlit_ui/pages/0_📝_Register.py
Due: mypy

docs: Document URL fix and error logging enhancement in PROJECT_PROGRESS.md
  PROJECT_PROGRESS.md
Due: none

fix: Add registration/login endpoints to rate limit exempt paths
  src/api/main.py
  src/api/middleware/rate_limit.py
Due: mypy

fix: Correct registration and login endpoint URLs to include /api/v1 prefix
  PROJECT_PROGRESS.md
  src/api/middleware/security.py
  src/services/api_key_service.py
  src/services/hackathon_service.py
  src/utils/dynamo.py
  streamlit_ui/app.py
  streamlit_ui/pages/0_📝_Register.py
Due: mypy

fix: Remove buttons from inside form to fix StreamlitAPIException
  streamlit_ui/pages/0_📝_Register.py
Due: mypy

fix: Remove double /api/v1 prefix from manual URL construction
  PROJECT_PROGRESS.md
  streamlit_ui/app.py
  streamlit_ui/components/auth.py
  streamlit_ui/pages/0_📝_Register.py
Due: mypy

fix: Remove activation button from inside form to fix StreamlitAPIException
  streamlit_ui/pages/1_🎯_Create_Hackathon.py
Due: mypy

fix: Extract hackathons list from API response dict
  streamlit_ui/pages/5_Manage_Hackathons.py
Due: mypy

docs: Add Manage Hackathons response parsing bug fix documentation
  PROJECT_PROGRESS.md
Due: none

feat: Add public submission endpoint for hackathon participants
  src/api/routes/public.py
  streamlit_ui/pages/7_Submit.py
Due: mypy

fix: Add public submission endpoint to authentication exempt paths
  src/api/main.py
Due: mypy

Fix: Add wildcard path matching for exempt paths in rate limit middleware
  src/api/middleware/rate_limit.py
Due: mypy

Fix: Add exempt paths support to BudgetMiddleware for public endpoints
  src/api/main.py
  src/api/middleware/budget.py
Due: mypy

Fix: Handle status as both enum and string in public submission endpoint
  src/api/routes/public.py
Due: mypy

docs: Document public submission endpoint implementation
  PROJECT_PROGRESS.md
Due: none

Fix: Parse hackathons response correctly in Submissions page
  streamlit_ui/pages/6_Submissions.py
Due: mypy

Fix: Increase timeout for submissions endpoint to 30 seconds
  streamlit_ui/pages/6_Submissions.py
Due: mypy

docs: Add timeout fix to PROJECT_PROGRESS.md
  PROJECT_PROGRESS.md
Due: none

fix: Parse paginated API response in Live Dashboard
  streamlit_ui/pages/2_📊_Live_Dashboard.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  sam-validate: any of: ^template\.yaml$
