Repository ma-za-kpe/vibejudge-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, sam-validate

mypy:
  name: mypy type checking
  entry: .venv/bin/mypy
  language: system
  args:
  - --config-file=pyproject.toml
  - src/
  pass_filenames: false
  stages:
  - commit

sam-validate:
  name: validate SAM template
  entry: sam
  language: system
  args:
  - validate
  - --lint
  pass_filenames: false
  stages:
  - push

feat: Add hackathon stats endpoint
  src/api/routes/hackathons.py
Due: mypy

fix: Correct stats endpoint to use SubmissionListResponse
  src/api/routes/hackathons.py
Due: mypy

fix: Reduce Live Dashboard auto-refresh to 5 minutes
  streamlit_ui/pages/2_📊_Live_Dashboard.py
Due: mypy

fix: Correct cost estimate endpoint path and response parsing
  streamlit_ui/pages/2_📊_Live_Dashboard.py
Due: mypy

docs: Update PROJECT_PROGRESS.md with cost estimate fix deployment status
  PROJECT_PROGRESS.md
Due: none

fix: Add DNS egress rules to ECS security group
  template-ecs.yaml
Due: none

docs: Add ECS network configuration fix to PROJECT_PROGRESS.md
  PROJECT_PROGRESS.md
Due: none

fix: Implement server-side job discovery for Live Dashboard
  streamlit_ui/pages/2_📊_Live_Dashboard.py
Due: mypy

docs: Add server-side job discovery implementation to PROJECT_PROGRESS.md
  PROJECT_PROGRESS.md
Due: none

fix: Critical indentation error in Live Dashboard cost estimate
  streamlit_ui/pages/2_📊_Live_Dashboard.py
Due: mypy

docs: Update PROJECT_PROGRESS.md with hotfix deployment status
  PROJECT_PROGRESS.md
Due: none

fix: Correct API_BASE_URL to include /api/v1 suffix
  template-ecs.yaml
Due: none

docs: Document API_BASE_URL environment variable fix
  PROJECT_PROGRESS.md
Due: none

fix: Handle None cost estimate in Live Dashboard
  streamlit_ui/pages/2_📊_Live_Dashboard.py
Due: mypy

lint
  .kiro/specs/rate-limiting-security/design.md
  .kiro/specs/streamlit-aws-ecs-deployment/.config.kiro
  .kiro/specs/streamlit-aws-ecs-deployment/design.md
  .kiro/specs/streamlit-aws-ecs-deployment/tasks.md
  API_KEY_CONSOLIDATION_PLAN.md
  DEPLOYMENT.md
  RUNBOOK.md
  SECURITY_ENHANCEMENTS.md
  cloudwatch-queries.md
  coverage.json
  src/api/main.py
  src/api/middleware/budget.py
  src/api/middleware/rate_limit.py
  src/api/middleware/security.py
  src/api/routes/api_keys.py
  src/api/routes/hackathons.py
  src/api/routes/public.py
  src/api/routes/usage.py
  src/models/api_key.py
  src/models/hackathon.py
  src/models/rate_limit.py
  src/services/api_key_service.py
  src/services/cost_estimation_service.py
  src/services/hackathon_service.py
  src/services/submission_service.py
  src/utils/dynamo.py
  streamlit_ui/app.py
  streamlit_ui/components/auth.py
  streamlit_ui/pages/0_��_Register.py
  streamlit_ui/pages/0_📝_Register.py
  streamlit_ui/pages/1_🎯_Create_Hackathon.py
  streamlit_ui/pages/3_🏆_Results.py
  streamlit_ui/pages/5_Manage_Hackathons.py
  streamlit_ui/pages/6_Submissions.py
  streamlit_ui/pages/7_Submit.py
  streamlit_ui/pages/8_⚙️_Settings.py
  test_dashboard_api.py
  test_dashboard_auth.py
  tests/unit/test_cost_estimation_service.py
  tests/unit/test_usage_tracking_service.py
Due: mypy

test: Add comprehensive edge case tests for Live Dashboard
  streamlit_ui/tests/test_live_dashboard_edge_cases.py
Due: mypy

docs: Update documentation for session 2026-02-28
  PROJECT_PROGRESS.md
  TESTING.md
Due: none

fix: Add /api/v1/health to rate limit exempt paths
  FRONTEND_FLOWS_ANALYSIS.md
  STREAMLIT_TEST_COVERAGE_ANALYSIS.md
  STREAMLIT_TEST_COVERAGE_SUMMARY.md
  coverage.json
  src/api/main.py
  src/api/middleware/rate_limit.py
  streamlit_ui/pages/2_📊_Live_Dashboard.py
  streamlit_ui/pages/3_🏆_Results.py
  streamlit_ui/tests/conftest.py
  streamlit_ui/tests/test_auth.py
  streamlit_ui/tests/test_authentication_integration.py
  streamlit_ui/tests/test_hackathon_creation_integration.py
  streamlit_ui/tests/test_intelligence_integration.py
  streamlit_ui/tests/test_live_dashboard_integration.py
  streamlit_ui/tests/test_results_page_integration.py
Due: mypy

docs: Document rate limiting fix and deployment completion
  PROJECT_PROGRESS.md
Due: none

docs: Document final deployment with None check fix
  PROJECT_PROGRESS.md
Due: none

fix: Increase timeout to 30s for cost estimate API call
  streamlit_ui/pages/2_📊_Live_Dashboard.py
Due: mypy

tests running
  streamlit_ui/pages/3_🏆_Results.py
  streamlit_ui/tests/test_hackathon_creation_integration.py
  streamlit_ui/tests/test_live_dashboard_integration.py
  streamlit_ui/tests/test_results_page_integration.py
Due: mypy

docs: Document timeout fix deployment
  e2e_tests/conftest.py
  e2e_tests/fixtures/__init__.py
  e2e_tests/fixtures/api_mocks.py
  e2e_tests/pages/__init__.py
  e2e_tests/pages/base_page.py
  e2e_tests/pages/create_hackathon_page.py
  e2e_tests/pages/live_dashboard_page.py
  e2e_tests/pages/login_page.py
  e2e_tests/pages/results_page.py
  e2e_tests/playwright_config.py
  e2e_tests/tests/__init__.py
  e2e_tests/tests/test_analysis_flows.py
  e2e_tests/tests/test_auth_flows.py
  package.json
Due: mypy

docs: Add cost estimate timeout fix session to PROJECT_PROGRESS.md
  PROJECT_PROGRESS.md
Due: none

fix: Increase default timeout to 60s and fix cached widget warning
  e2e_tests/pages/intelligence_page.py
  e2e_tests/pages/manage_hackathons_page.py
  e2e_tests/pages/settings_page.py
  e2e_tests/pages/submit_page.py
  e2e_tests/tests/test_results_flows.py
  streamlit_ui/components/api_client.py
  streamlit_ui/pages/2_📊_Live_Dashboard.py
  streamlit_ui/pages/6_Submissions.py
Due: mypy

docs: Document 60s timeout deployment
  .github/workflows/e2e-tests.yml
  e2e_tests/IMPLEMENTATION_SUMMARY.md
  e2e_tests/README.md
  e2e_tests/pages/submissions_page.py
  e2e_tests/tests/test_hackathon_flows.py
  e2e_tests/tests/test_intelligence_flows.py
  e2e_tests/tests/test_settings_flows.py
  e2e_tests/tests/test_stats_flows.py
  e2e_tests/tests/test_submission_flows.py
  run_e2e_tests.sh
Due: mypy

fix: Handle stale job IDs gracefully with cache clearing
  streamlit_ui/pages/2_📊_Live_Dashboard.py
Due: mypy

fix: Remove streamlit-autorefresh component to fix loading errors
  streamlit_ui/pages/2_📊_Live_Dashboard.py
Due: mypy

fix: Pass api_base_url as parameter to cached functions
  streamlit_ui/pages/2_📊_Live_Dashboard.py
Due: mypy

docs: Document March 1 session - session state and timeout fixes
  PROJECT_PROGRESS.md
Due: none

fix: Add git layer to analyzer Lambda and update template
  e2e_tests/FINAL_REPORT.md
  e2e_tests/TESTING_STRATEGY.md
  e2e_tests/TEST_RESULTS.md
  e2e_tests/conftest.py
  e2e_tests/inspect_selectors.py
  e2e_tests/pages/base_page.py
  e2e_tests/pages/login_page.py
  e2e_tests/tests/test_demo_both_approaches.py
  e2e_tests/tests/test_simple_e2e.py
  e2e_tests/visual_regression/failures/test_api_connection.png
  e2e_tests/visual_regression/failures/test_api_key_login_invalid.png
  e2e_tests/visual_regression/failures/test_api_key_login_success.png
  e2e_tests/visual_regression/failures/test_live_api_app_loads.png
  e2e_tests/visual_regression/failures/test_live_api_navigation.png
  e2e_tests/visual_regression/failures/test_mocked_api_hackathons_list.png
  e2e_tests/visual_regression/failures/test_mocked_api_login.png
  e2e_tests/visual_regression/failures/test_navigation_to_pages.png
  e2e_tests/visual_regression/failures/test_no_errors_on_load.png
  e2e_tests/visual_regression/failures/test_streamlit_app_loads.png
  pyproject.toml
  src/api/middleware/budget.py
  src/api/middleware/rate_limit.py
  streamlit_ui/pages/2_📊_Live_Dashboard.py
  template.yaml
Due: mypy, sam-validate

chore: Update PROJECT_PROGRESS.md with March 1 session and simplify Results page
  PROJECT_PROGRESS.md
  streamlit_ui/pages/3_🏆_Results.py
  streamlit_ui/pages/4_💡_Intelligence.py
  streamlit_ui/pages/7_Submit.py
Due: mypy

docs: Add git Lambda layer to architecture documentation
  README.md
Due: none

refactor: Simplify Manage Hackathons page - remove caching, use direct requests
  streamlit_ui/pages/5_Manage_Hackathons.py
Due: mypy

docs: Add final session summary for March 1, 2026
  PROJECT_PROGRESS.md
Due: none

fixes
  src/models/api_key.py
  src/models/submission.py
  src/services/analysis_service.py
  src/services/submission_service.py
  src/utils/dynamo.py
  streamlit_ui/pages/2_📊_Live_Dashboard.py
  streamlit_ui/pages/3_🏆_Results.py
  streamlit_ui/tests/test_live_dashboard_analyze_button.py
  test_analyze_flow.sh
Due: mypy

docs: update PROJECT_PROGRESS.md with March 1 test fixes session
  PROJECT_PROGRESS.md
Due: none

Fix APIKeyUpdate import and ruff issues
  .kiro/hooks/review-before-commit.kiro.hook
  PROJECT_PROGRESS.md
  RESULTS_PAGE_FIXES_SUMMARY.md
  fix_test_keys.py
  src/api/routes/api_keys.py
  src/models/api_key.py
  src/services/api_key_service.py
  streamlit_ui/pages/3_🏆_Results.py
  streamlit_ui/pages/4_💡_Intelligence.py
  test_patch_endpoint.py
  test_results_page_pipeline.sh
  tests/integration/test_api_keys.py
  tests/unit/test_api_key_models.py
  tests/unit/test_api_key_service.py
  tests/unit/test_rate_limit_models.py
Due: mypy

Fix ruff linting issues in api_key_service and add session review
  SESSION_REVIEW.md
  src/services/api_key_service.py
  test_patch_endpoint.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  sam-validate: any of: ^template\.yaml$
